aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.2
amqp==5.2.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appdirs==1.4.4
asttokens==2.4.1
async-timeout==4.0.3
asyncssh==2.15.0
atpublic==4.1.0
attrs==23.2.0
billiard==4.2.0
blinker==1.8.2
boto3==1.34.144
botocore==1.34.144
catboost==1.2.5
celery==5.4.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.2
configobj==5.0.8
contourpy==1.2.1
cryptography==43.0.0
cycler==0.12.1
databricks-cli==0.18.0
debugpy==1.8.2
decorator==5.1.1
dictdiffer==0.9.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.6.1
docker==7.1.0
dpath==2.2.0
dulwich==0.22.1
dvc==2.46.0
dvc-data==0.42.3
dvc-http==2.32.0
dvc-objects==0.25.0
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.4.0
email_validator==2.2.0
entrypoints==0.4
evidently==0.2.8
exceptiongroup==1.2.2
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
filelock==3.15.4
Flask==3.0.3
flatten-dict==0.4.2
flufl.lock==8.1.0
fonttools==4.53.1
from-root==1.3.0
frozenlist==1.4.1
fsspec==2024.6.1
funcy==2.0
gitdb==4.0.11
GitPython==3.1.43
grandalf==0.8
graphviz==0.20.3
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
hydra-core==1.3.2
idna==3.7
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata==8.1.0
ipykernel==6.29.5
ipython==8.26.0
iterative-telemetry==0.0.8
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
kombu==5.3.7
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mlflow==1.26.1
multidict==6.0.5
mypy-boto3-s3==1.34.138
nanotime==0.5.2
nest-asyncio==1.6.0
networkx==3.3
neuro-mf==0.0.5
nltk==3.8.1
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.3.0
orjson==3.10.6
packaging==24.1
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
pillow==10.4.0
platformdirs==4.2.2
plotly==5.22.0
prometheus_client==0.20.0
prometheus_flask_exporter==0.23.1
prompt_toolkit==3.0.47
protobuf==5.27.2
psutil==6.0.0
pure-eval==0.2.2
pycparser==2.22
pydantic==1.10.17
pydot==3.0.1
pygit2==1.15.1
Pygments==2.18.0
pygtrie==2.5.0
PyJWT==2.8.0
pymongo==4.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
pywin32==306
PyYAML==6.0.1
pyzmq==26.0.3
querystring-parser==1.2.4
regex==2024.5.15
requests==2.32.3
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.2
scikit-learn==1.5.1
scipy==1.14.0
scmrepo==0.2.1
seaborn==0.13.2
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==2.0.31
sqlparse==0.5.1
sqltrie==0.11.0
stack-data==0.6.3
starlette==0.37.2
statsmodels==0.14.2
tabulate==0.9.0
tenacity==8.5.0
threadpoolctl==3.5.0
tomlkit==0.13.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
urllib3==2.2.2
-e git+https://github.com/utkarsh-iitbhu/US-Visa-automate.git@4c892b4c1bf49db26ec00151827c18ed13a13863#egg=us_visa
uvicorn==0.30.1
vine==5.1.0
voluptuous==0.15.2
waitress==3.0.0
watchfiles==0.22.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.3
xgboost==2.1.0
yarl==1.9.4
zc.lockfile==3.0.post1
zipp==3.19.2
